@charset "utf-8";
    

body{
    background-image: url(img/white.jpg) ;
    font-size: large;
}

.tab {
    display: inline-block;          
    border-width: 1px 1px 0px 1px;  
    border-style: solid;            
    border-color: black;            
    border-radius: 0.75em 0.75em 0px 0px;  
    padding: 0.75em 1em;           
    font-weight: bold;              
    color: black;                  
    background-color: #e0e0e0;    
 }
 .tab:hover {
    color: green;               
    background-color: #ccffcc;  
    cursor: pointer;             
 }
 input:checked + .tab {
    color: red;                  
    background-color: #ffffcc;   
 }
 .tabbox input { display: none; }
 .tabcontent {
    display: none;             
    border: 1px solid black;  
    padding: 1em;             
    background-color: #ffffcc; 
 }

 #tabcheck1:checked ~ #tabcontent1 { display: block; }
 #tabcheck2:checked ~ #tabcontent2 { display: block; }
 #tabcheck3:checked ~ #tabcontent3 { display: block; }
 #tabcheck4:checked ~ #tabcontent4 { display: block; }
 #tabcheck5:checked ~ #tabcontent5 { display: block; }
 input:checked + .tab {
    z-index: 10;         
    position: relative;  
 }
 .tabcontent {
    margin-top: -1px;   
    z-index: 0;         
    position: relative;  
 }
 .topic{
    width: 300px;
    height: 450px;
}
ul {
    display: flex;
    justify-content: center;
  }
  li {
    list-style: none;
  }
  li:nth-child(2) {
    margin: 0 40px;
  }
  .miyako{
      
      display: flex;
    justify-content: space-between;
}

  